@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', sans-serif;
}

h1,
h2 {
    margin: 0rem 6rem;
    padding: 0rem 6rem;
}

h1 {
    font-size: 3rem;
    color: #fff !important;
}

h2 {
    font-size: 2rem;
    color: #e74c3c !important;
    text-transform: uppercase;
}

hr.title {
    width: 10rem;
    height: .1rem;
    background-color: #e74d3c75;
    border: none;
    margin: 1rem auto;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
}