@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #fff !important;
    margin: 0rem 6rem;
    padding: 0rem 6rem;
}

h2 {
    font-size: 2rem;
    color: #e74c3c !important;
    margin: 0rem 6rem;
    padding: 0rem 6rem;
    text-transform: uppercase;
}

hr.title {
    width: 10rem;
    height: .1rem;
    background-color: #e74d3c75;
    border: none;
    margin: 1rem auto;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 15rem;
        background-color: #212529;
        width: 100%;

        .logo {
            font-size: 1.5rem;

            a img {
                width: 15rem;
            }
        }

        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;

            a {
                color: #c1c1c1;
                text-transform: uppercase;
            }
        }
    }
}

main {

    /****** section hero ******/
    section.hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        background: url("../img/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: cover;
        padding: 6rem 0rem;

        .hero-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 15rem;
            gap: 3rem;

            .hero-title {
                text-align: center;

                h1.titre {
                    text-transform: uppercase;
                }
            }

            .hero-subtitle {
                text-align: center;

                p {
                    color: #fff;
                    line-height: 1.8;
                    font-size: 1.1rem;
                    padding: .5rem;
                }
            }

            .hero-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: #e74c3c;
                    color: #fff;
                    border-radius: .5rem;
                    transition: all .3s ease-in-out;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;

                    &:hover {
                        background-color: #b83e30;
                    }
                }

                i {
                    color: #e74c3c;
                    font-size: 3rem;
                }
            }
        }
    }

    /****** section Who We Are ******/
    section.whoWeAre {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 4rem 0rem 2rem 0rem;
        height: 70vh;
        background-color: #fff;

        .whoWeAre-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            img.academy {
                width: 12rem;
                height: 12rem;
                /* margin-bottom: 2rem; */
            }

            .box-title {
                text-align: center;
            }

            .whoWeAre-content {
                text-align: center;
                padding: 0rem 15rem;

                p {
                    line-height: 1.8;
                    padding: .5rem 2rem;
                    font-size: 1.1rem;

                    span {
                        color: #e74c3c;
                    }
                }
            }

            .whoWeAre-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: #e74c3c;
                    color: #fff;
                    border-radius: .5rem;
                    transition: all .3s ease-in-out;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;

                    &:hover {
                        background-color: #b83e30;
                    }
                }
            }
        }
    }


    /****** section GET INVOLVED ******/
    section.getinvolved {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        height: 80vh;
        background-color: #f8f9fa;

        .box-title {
            text-align: center;
        }

        .cards-involved {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 5rem;
            padding: 5rem 15rem;


            .card-involved {
                width: 30%;
                flex-wrap: wrap;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem 1.3rem;
                border-radius: .5rem;
                background-color: #fff;

                i {
                    font-size: 1.8rem;
                    color: #fff;
                    background-color: rgb(71, 71, 71);
                    border-radius: 5rem;
                    padding: 1rem;
                }

                h3 {
                    color: #e74c3c;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                }

                p {
                    text-align: center;
                }

                button {
                    background-color: #fff;
                    border: 1px solid #333;
                    color: #e74c3c;
                    border-radius: .5rem;
                    transition: all .3s ease-in-out;
                    padding: .5rem 1rem;
                    font-size: 1.1rem;

                    &:hover {
                        background-color: rgb(144, 144, 144);
                        color: #fff;
                    }
                }
            }
        }

    }


    /* ****** section contact us ******* */
    section.hero-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 80vh;
        background: url("../img/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: cover;
        padding: 6rem 0rem;

        .hero-box-contact {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 15rem;
            gap: 3rem;

            .hero-title-contact {
                text-align: center;

                h1.titre {
                    color: #fff !important;
                    text-transform: uppercase;
                }
            }

            .hero-subtitle-contact {
                text-align: center;

                p {
                    color: #fff;
                    line-height: 1.8;
                    font-size: 1.1rem;
                    padding: .5rem;
                }
            }

            .hero-button-contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: #e74c3c;
                    color: #fff;
                    border-radius: .5rem;
                    transition: all .3s ease-in-out;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;

                    &:hover {
                        background-color: #b83e30;
                    }
                }

                i {
                    color: #e74c3c;
                    font-size: 3rem;
                }
            }
        }
    }

    /* ****** section contact ****** */
    section.contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 0rem;
        height: 120vh;
        background-color: #f8f9fa;

        .box-title {
            text-align: center;
        }

        button {
            margin: 3rem;
            background-color: #e74c3c;
            color: #fff;
            border-radius: .5rem;
            transition: all .3s ease-in-out;
            padding: .5rem 1rem;
            font-size: 1.3rem;

            &:hover {
                background-color: #b83e30;
            }
        }
    }


    /* ****** section heroteam ****** */
    section.heroTeam {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 70vh;
        background: url("../img/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: cover;
        padding: 3rem 0rem;

        .heroTeam-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 15rem;
            gap: 3.5rem;

            .heroTeam-title {
                text-align: center;

                h1.titre {
                    text-transform: uppercase;
                    font-size: 3.5rem;
                }
            }

            .heroTeam-subtitle {
                text-align: center;

                p {
                    color: #fff;
                    line-height: 1.8;
                    font-size: 1.1rem;
                    padding: 2rem;
                }
            }

            .heroTeam-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                i {
                    color: #e74c3c;
                    font-size: 3rem;
                }
            }
        }
    }


    /* ****** section team ****** */
    section.team {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        height: 80vh;
        background-color: #f8f9fa;

        .box-title {
            text-align: center;
        }

        .cards-team {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            /* gap: 5rem; */
            padding: 0rem 15rem;
            margin: 2rem 0rem;
            /* background-color: #fff; */


            .card-team {
                position: relative;
                width: 30%;
                height: 100%;
                flex-wrap: wrap;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem 1.3rem;
                background: url("../img/vide.png");
                transition: all 1s ease-in-out;

                .mini-title {
                    position: absolute;
                    top: center;
                    left: center;

                    h3 {
                        color: #e74c3c;
                        font-size: 1.1rem;
                        text-transform: capitalize;
                        font-weight: 800;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

    }

    /* ****** section sponsor ****** */
    section.sponsor {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 4rem 0rem 2rem 0rem;
        height: 100%;
        background-color: #f8f9fa;

        .sponsor-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            .box-title {
                text-align: center;
            }

            .sponsor-content {
                text-align: center;
                padding: 0rem 15rem;

                p {
                    line-height: 1.8;
                    padding: .5rem 3rem;
                    font-size: 1.1rem;

                    span {
                        color: #e74c3c;
                        text-decoration: underline;
                    }
                }
            }

            .sponsor-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: #e74c3c;
                    color: #fff;
                    border-radius: .5rem;
                    transition: all .3s ease-in-out;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;

                    &:hover {
                        background-color: #b83e30;
                    }
                }
            }
        }
    }

}

/* ******  section FOOTER ****** */
footer {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: #e74c3c;
    padding: 2rem 3rem;

    img {
        position: absolute;
        width: 20rem;
        bottom: 2rem;
        left: 15rem;
    }
}


@media screen and (max-width: 1200px) {
    main {
        section.hero {
            .hero-box {
                padding: 0rem 10rem;
            }
        }


    }
}

@media screen and (max-width: 1024px) {
    main {}
}

@media screen and (max-width: 768px) {
    main {}
}

@media screen and (max-width: 492px) {
    main {
        section.hero {
            .hero-box {
                padding: 0rem 2rem;

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}